[Unit]
Description=RTC Power Management Service
Documentation=man:rtc-suspend(8) man:rtc-wakeup(8)
After=sysinit.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/sbin/rtc-wakeup 0

[Install]
WantedBy=multi-user.target
