# default V1.0
# This provides reproducible build configuration for BeagleBone Black development

# Backed up in
# meta-srk/backup/local.conf

DISK2="/media/srk2cob/disk2/"

MACHINE = "beaglebone-yocto-srk-tiny"
#MACHINE = "beaglebone-yocto"
DL_DIR ?= "${DISK2}/downloads"
SSTATE_DIR ?= "${DISK2}/sstate-cache"
#TMPDIR = "${TOPDIR}/tmp"
DISTRO ?= "poky"

EXTRA_IMAGE_FEATURES ?= "debug-tweaks"

USER_CLASSES ?= "buildstats"
# BB_GIT_SHALLOW = "1"
# GIT_SHALLOW_DEPTH = "1"
PATCHRESOLVE = "noop"
# Disable SPDX creation for faster builds
SPDX_CREATE = "0"

#
# Disk Space Monitoring during the build
#
# Monitor the disk space during the build. If there is less that 1GB of space or less
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

CONF_VERSION = "2"
INHERIT += "toaster buildhistory"

EXTRA_IMAGEDEPENDS:remove = " virtual/bootloader virtual/kernel qemu-native qemu-helper-native"
DISTRO_FEATURES:remove = "package-management"

# srk-2
# used for squashfs rootfs imagegeneration
# core-image-miniminal-srk

# DISTRO_FEATURES:append = " systemd usrmerge"
# DISTRO_FEATURES:remove = " sysvinit"
# VIRTUAL-RUNTIME_init_manager = "systemd"
# IMAGE_INSTALL:remove = "kernel u-boot"
# End srk-2

#srk-3
# used to build core-image-tiny-initramfs-srk-3
# 3.1. Remove Kernel and U-Boot from Dependencies
# 3.1.1. Exclude Kernel
#PREFERRED_PROVIDER_virtual/kernel = "linux-yocto-srk-bbb"
PREFERRED_PROVIDER_virtual/kernel = "linux-yocto-srk-tiny"

# 3.1.2. Exclude U-Boot
PREFERRED_PROVIDER_virtual/bootloader = ""

# 3.2. Remove Kernel and U-Boot from Image
# IMAGE_INSTALL:remove = "virtual/kernel virtual/bootloader"
# DISTRO_FEATURES:remove = "systemd"
# DISTRO_FEATURES:remove = " sysvinit"
# VIRTUAL-RUNTIME_init_manager = "mdev-busybox"
# SERIAL_CONSOLES = ""
# IMAGE_INSTALL:append = " openssl"
# End srk-3

# Disable graphics features to avoid building X11, Wayland, OpenGL, etc.
DISTRO_FEATURES:remove = "x11 wayland opengl vulkan"

# Minimize host tools (reduce x86_64 builds)
EXTRA_IMAGEDEPENDS:remove = "qemu-native qemu-helper-native"

# Remove buildhistory to reduce metadata
INHERIT:remove = "buildhistory"

# For tiny images, ensure no graphics packages are included
IMAGE_INSTALL:remove = "libx11 libgl mesa"